numpy
pillow
fastapi
uvicorn
python-multipart
boto3
pymongo
python-jose
passlib[bcrypt]
python-dotenv
torch
torchvision
ultralytics
pymongo[srv]
pydantic[email]
motor
opencv-python
segmentation-models-pytorch
timm
